.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Peltopaastolaskenta_2024.Rproj
Output/
Alat_gtk.xlsx
Tiladata.xlsx
Turvekumulaatio_desiilit_levea.xlsx
Turvekumulaatio_levea.xlsx
kokeilu.xlsx
Jakaumataulu.xlsx
~$Alat_gtk.xlsx
Peltopaastolaskenta_2025.Rproj
Taydennys_cropannorgraiv.xlsx
Tasokorjaukset_testi.xlsx
kasvikoodit.xlsx
~$kokeilu.xlsx
Viljavuusdata_gtk_kattavuusvertailu_kasvit.xlsx
testi.xlsx
Viljavuuslohkot.xlsx
Testidata.xlsx
~$Testidata.xlsx
